._ACF.json
._app.js
._ARA.json
._ARC.json
._AS21.json
._bible-data.js
._cantor_cristao.json
._harpa.json
._index.html
._JFAA.json
._KJA.json
._KJF.json
._LICENSE
._manifest.json
._NAA.json
._NBV.json
._novo_cantico_completo.json
._NTLH.json
._NVI.json
._NVT.json
._quiz.json
._README.md
._styles.css
._sw.js
._TB.json
._imagens.html
imagens.html
assets/._logo-bco.png
._.gitignore
._feed.html
._stories.html
feed.html
feed.html
assets/._logo-2-bco.png
assets/._logo-2.png
assets/._logo-2.png
assets/._logo-2.png
